@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-poppins {
		font-family: 'Poppins', sans-serif;
	}

	.font-inter {
		font-family: 'Inter', sans-serif;
	}
}

@layer base {
	html,
	main {
		scrollbar-gutter: stable;
	}

	button:focus,
	button:focus-visible {
		outline: none !important;
		box-shadow: none !important;
	}
}
